@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

body {
  font-family: 'Sedgwick Ave', cursive, Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eae2b7;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: #003049;
  width: 100%;
  color: #fcbf49;
  padding-bottom: 0;
  z-index: 1;
}

#logoNname {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  margin: 0 10px 0 10px;
}

#header-img {
  position: relative;
  width: 50px;
  height: 50px;
  top: 3px;
  margin-right: 10px;
}

#nav-bar {
  margin: 0 10px 0 10px;
}

@media (max-width: 460px) {
  #nav-bar {
    display: none;
  }
}

ul {
  position: relative;
  top: 5px;
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  margin-left: 45px;
  margin-right: 7px;
}

.nav-link {
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  color: #f77f00;
}

.nav-link:hover {
  color: #d62828;
  transition: 0.4s ease;
}

main {
  position: relative;
  left: 0;
  /* background: red; */
  padding: 20px;
  top: 48.9px;
  color: #003049;
}

section {
  display: flex;
  /* background: aqua; */
  /* justify-content: center; */
  font-size: 30px;
  margin: 20px;
  padding: 20px;
}

#description {
  left: 0;
}

#video {
  margin: auto;
}

#ask-developer {
  flex-direction: row-reverse;
  right: 0;
  justify-content: space-around;
}

#askdev-title {
  position: relative;
  bottom: 20px;
}

p#desc-Paragraph {
  width: 700px;
  text-align: justify;
  margin-right: 30px;
  font-weight: bold;
}

label {
  display: block;
}
